# don't track the .vs folders
*.vs/
*.idea/

# don't track any exes
*.exe

#don't track any output folders
*.out/

# don't track extra java shit
*.classpath
*.class
*.project
*.iml

# don't track the music

music/
*.wav